# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
'atom-workspace atom-text-editor:not(.mini)':
  'alt-space': 'ergonomic-cursor:activate-selection'

'.editor':
  'cmd-§': 'editor:toggle-line-comments'
  'ctrl-shift-f': 'editor:auto-indent'

'.platform-darwin atom-text-editor':
  'cmd-d': 'core:backspace'

'atom-text-editor':
  'ctrl-f': 'find-and-replace:show'
  'cmd-f': 'core:delete'

  'cmd-3': 'pane:split-right'
  'cmd-4': 'pane:split-down'
  'ctrl-s': 'window:focus-pane-below'
  'ctrl-w': 'window:focus-pane-above'
  'ctrl-a': 'window:focus-pane-on-left'
  'ctrl-d': 'window:focus-pane-on-right'
